head {
    font-family: "Verdana", sans-serif;
    color: RosyBrown; font-size: 60px;
}

h2 {
    font-family: "Verdana", sans-serif;
    color: PaleVioletRed; font-size: 60px;
}

body {
    font-family: "Verdana", sans-serif;
}

#line-month {
	left: 700px;
	right: 700px;
}
