h1 {
    font-family: "Verdana", sans-serif;
    color: RosyBrown; font-size: 80px;
}

h2 {
    font-family: "Verdana", sans-serif;
    color: Tan; font-size: 40px;
}

body {
    font-family: "Verdana", sans-serif;
}

p {
  font-family: "Verdana", sans-serif;
}
